/* styles.css */

.list-view .list-cell:even {
    -fx-background-color: #37474F; /* Color de fondo oscuro para filas pares */
    -fx-text-fill: #FFFFFF; /* Color de texto claro para filas pares */
     -fx-padding: 8px; /* Aumenta el relleno interior de las celdas */
      -fx-spacing: 25px;
}

.list-view .list-cell:odd {
    -fx-background-color: #455A64; /* Color de fondo oscuro para filas impares */
    -fx-text-fill: #FFFFFF; /* Color de texto claro para filas impares */
     -fx-padding: 8px; /* Aumenta el relleno interior de las celdas */
     -fx-spacing: 25px;
}
.separator {
    -fx-background-color: #E0E0E0; /* Color más claro del separador */
    -fx-padding: 5 0; /* Ajuste de relleno para separación */
    -fx-opacity: 0.5; /* Opacidad del separador */
}

.white-progress-indicator  {
       -fx-background-color: white; /* Fondo oscuro */
    -fx-progress-color: #00ccff; /* Color del progreso */
    -fx-text-fill: #ffffff; /* Color del texto del porcentaje */
}


.white-progress-indicator .percentage { /* More specific selector */
    -fx-text-fill: #ffffff;
}





